@import url('https://fonts.googleapis.com/css?family=Barriecito|Thasadith&display=swap');

body {
	background-image: url("../images/message.jpg");
	background-size: 100%;
    background-repeat: repeat-y;
	font-size: 20px;
    font-family:'Thasadith', sans-serif;
}

.container {
	opacity: 0.8;
	padding: 20px;
	font-size: 20px;
    font-family:'Thasadith', sans-serif;}

header
h1{
	text-align: center;
	font-size: 50px;
	font-weight: bold;
	font-family: 'Barriecito', cursive;
	color: rgb(53, 5, 165); 
	text-shadow: 12px 10px 12px;
	text-emphasis-color: rgb(72, 255, 0); 
	padding-top: 20px;
}
header
h5{
	margin-left: 14%;
	text-align: left;
	font-size: 15px;
	font-family: 'Thasadith', sans-serif;
	color: rgb(53, 5, 165); 
	text-shadow: 12px 10px 12px;
	text-emphasis-color: rgb(72, 255, 0); 
	padding-top: 5px;
}
div#gifButtonsView
{margin-left:14%;
align-self: auto;
padding-top:0%;}	
div#gifButtonsView
 .btn
	{
	margin: 3px;
    background:rgb(248, 62, 223);
	border-color: rgb(144, 245, 76);
	border-width: 3px;
	font-family: 'Segoe UI', Tahoma;
	font-weight: bolder;
	color: white;
	}	

form
.form-group
{	font-family: 'Barriecito', cursive;
	font-weight: bolder;
	font-size:16pt;
	color: rgb(63, 8, 114); 

}
form
.btn {
    margin: 3px;
    background:rgb(248, 62, 223);
	border-color: rgb(144, 245, 76);
	color: white;
	border-width: 3px;
	font-family: 'Segoe UI', Tahoma;
	font-weight: bolder;
	font-size: 10pt;
}

.gifsView{display: inline;
	margin: 10px;
	background-color: rgba(166, 255, 0, 0.301);
	margin: 3px;
	font-size: 20px;
    font-family:'Thasadith', sans-serif;
}

img { 
	font-size: 10px;
	color: rgb(75, 40, 158); 
	height:135px;
    width: 160px;
}

footer {
	clear: both;
	margin-top: 90px;
	position: center;
	bottom: 0;
	left: 0;
	text-align: center;
	font-size: 12px;
    font-family:'Thasadith', sans-serif;
	color: blueviolet;
	font-weight: bolder;
}

